<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Farm House</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<div id="pig"></div>

		<div id="horse"></div>

		<div id="cow"></div>

		<div id="chicken"></div>

		<div id="sheep"></div>

		<audio id="piggy" src="http://www.wavlist.com/soundfx/016/pig-2.wav"></audio>
		<audio id="nayy" src="http://www.wavlist.com/soundfx/006/horse-neigh1.wav"></audio>
		<audio id="moo" src="http://www.wavlist.com/soundfx/003/cow-moo1.wav"></audio>
		<audio id="cluck" src="http://www.wavlist.com/soundfx/009/chicken-1.wav"></audio>
		<audio id="baa" src="http://www.wavlist.com/soundfx/005/sheep-bah2.wav"></audio>

		<script src="javaScript/jquery-3.2.1.min.js"></script>
		<script src="javaScript/main.js"></script>

	</body>
</html>
