<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<div class="container">
			<form class="great" action="index.html" method="post">
				<input id="student" type="text" name="" value="">
				<input type="submit" name="" value="Add">
			</form>

			<ol></ol>
			<p>YOU HAVE <h2></h2> TODOS LEFT!</p>
			<button id="clearList"type="button" name="button">Clear List</button>
			<button id="clearComplete" type="button" name="button">Clear Completed</button>
		</div>
		<script src="javaScript/main.js" type="text/javascript"></script>
		<script src="javaScript/jquery-3.2.1.min.js" type="text/javascript"></script>
	</body>
</html>
