<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">



		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<section>
		<h1>Calculator</h1>
		<div id="inputs">
			<input id="left" value="">
			<input id="right" value="">
			<span>=</span>
			<span id=result></span>
		</div>
		<div id="buttons">
			<button id="addition">+</button>
			<button id="subtract">-</button>
			<button id="multiply">*</button>
			<button id="divide">÷</button>
		</div>



		</section>
		<script src="javaScript/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="javaScript/main.js"></script>
	</body>
</html>
