<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<img src="images/biggie.jpg" alt="">
		<button id="back" type="button" name="button">back</button>
		<span></span>
		<button id="skip" type="button" name="button">skip</button>

		<script src="javaScript/jquery-3.2.1.min.js"></script>
		<script src="javaScript/main.js">

		</script>
	</body>
</html>
