<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<section>
			<img id="mega" src="images/Mega_Man.png" alt="">
		</section>
		<script src="javaScript/jquery-3.2.1.js"></script>
		<script src="javaScript/main.js"></script>
	</body>
</html>
