<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>Classes</li>
					<li>Hire Us</li>
				</ul>
				<img src="images/LgOg.png" alt="">
				<button type="button" name="button">DONATE</button>
			</nav>



				<h1>WHERE GRIT MEETS OPPORTUNITY</h1>
				<p>At Level Ground (L.G.), urban youth cultivate grit and resilience through mixed martial arts. They learn to apply these values "off the mat" in pursuit of their ambitions through our Student Training certification and College Access programs</p>
				<span><i class="fa fa-play-circle" aria-hidden="true"></i>WATCH THE VIDEO</span>

		</header>
		<section class="top">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis ante dolor, et porta metus semper a. Donec semper, tellus vel congue imperdiet, neque enim posuere sem, a lobortis nunc dolor id magna. Sed aliquam risus elit, vel ullamcorper velit vehicula ac. Praesent a nisi sodales, tempor libero efficitur, facilisis ipsum. Fusce elit nibh, ultricies at felis ut, cursus fermentum sem. In mollis tristique sollicitudin. Sed egestas vulputate eros nec laoreet. </p>
		</section>
		<section class="middle clearfix">
			<div class="">
				<img src="images/kick.jpg" alt="">
				<h3>VISIT THE GYM</h3>
				<p>Duis interdum vestibulum est, aliquet scelerisque ipsum maximus at. Praesent dictum vitae nunc quis pulvinar. Suspendisse eu nisi at leo auctor vehicula. Ut condimentum massa a cursus commodo. Etiam et varius mauris, sed condimentum ligula. Sed tempus ut elit at luctus. Nam quis lobortis turpis, convallis tristique leo. Nunc mi nisl, pulvinar id mi eget, lacinia volutpat neque. Vivamus nec quam sed sapien bibendum cursus vel et ex. Nullam tellus nunc, pretium et porta nec, malesuada id est. Suspendisse egestas dolor at nunc scelerisque interdum. Donec magna elit, fringilla in justo id, vehicula tincidunt nisi. Nunc pharetra turpis vel neque efficitur ultrices. Maecenas consectetur viverra fringilla. Vivamus sed accumsan est, vel pellentesque lectus. </p>
				<h4>SEE CLASSES</h4>
			</div>

			<div class="">
				<img src="images/moment.jpg" alt="">
				<h3>HAVE US VISIT YOU</h3>
				<p>Duis interdum vestibulum est, aliquet scelerisque ipsum maximus at. Praesent dictum vitae nunc quis pulvinar. Suspendisse eu nisi at leo auctor vehicula. Ut condimentum massa a cursus commodo. Etiam et varius mauris, sed condimentum ligula. Sed tempus ut elit at luctus. Nam quis lobortis turpis, convallis tristique leo. Nunc mi nisl, pulvinar id mi eget, lacinia volutpat neque. Vivamus nec quam sed sapien bibendum cursus vel et ex. Nullam tellus nunc, pretium et porta nec, malesuada id est. Suspendisse egestas dolor at nunc scelerisque interdum. Donec magna elit, fringilla in justo id, vehicula tincidunt nisi. Nunc pharetra turpis vel neque efficitur ultrices. Maecenas consectetur viverra fringilla. Vivamus sed accumsan est, vel pellentesque lectus. </p>
				<h4>HIRE US</h4>
			</div>

		</section>



		<section>
			<h2>VOLUNTEER WITH LEVEL GROUND</h2>
			<p>Donec rhoncus metus at mi egestas dapibus. Maecenas sed ante ut enim aliquet bibendum. Duis nibh lorem, rutrum sed rutrum non, suscipit vel ex. Donec quis gravida orci, eu mattis nisl. Proin dapibus, enim id tempus ornare, sem orci euismod turpis, vitae interdum tortor ipsum nec neque. Donec risus dolor, ultrices ac malesuada non, commodo quis ligula. Fusce volutpat velit leo, eu porttitor lacus posuere ac. Sed mattis est arcu, in aliquet tortor hendrerit in. Praesent viverra lectus ac justo venenatis eleifend. Cras sit amet consectetur nibh. Phasellus lobortis arcu at tortor mattis, quis pharetra quam porta. Ut dictum condimentum vehicula. </p>
			<h4>VOLUNTEER </h4>

		</section>


		<footer class="clearfix feet">
		<section>


				<ul>
					<li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
					<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>

				</ul>
			<h5>Site Map</h5>
			<ul>
				<li>Classes</li>
				<li>Hire Us</li>
			</ul>
			<h5>Contribute</h5>
			<ul>
				<li>Give</li>
				<li>Volunteer</li>
			</ul>
		</section>
		<section>
				<h4>LEVEL GROUND MIXED MARTIAL ARTS</h4>
				<span>50 Milk Street, Floor 17</span>
				<span>Boston, MA 02109</span>
				<span>410-533-2210</span>
				<h5>Ali@LevelgroundMMA.org</h5>

		</section>
		<section class="yurp">
			<p>Level Ground Mixed Martial Arts is a tax exempt 501c(3) under the IRS</p>
			<img src="images/LgOg.png" alt="">
		</section>


		</footer>

	</body>
</html>
